@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 22px;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 3px solid #80949b;
  box-shadow: 2px 2px 4px #7f7f7f,
      -2px -2px 4px #7f7f7f;
}

button:hover {
  box-shadow: 4px 4px 4px #7f7f7f;
}

/* Header-container */

.header-container {
  color: #3c5963;
  background-color: #e7d5d5e0;
  width: 100%;
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 50px;
}

/* Start game button */

.start-game button { 
  width: 200px;
  background-color: #4681f4;
  padding: 12px;
  margin: 20px 0;
  border-radius: 10px 10px 3px 3px;
}

/* Running score */

.score-dom-container {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-style: italic;
}

/* Main-container */

.result-of-round {
  margin-bottom: 25px;
  height: 50px;
}

.result-of-round p {
  padding: 10px;
  border: 2px solid black;
}

.won,
.lost,
.draw {
  border-radius: 5px;
}

.won {
  background-color: #80ff67;
}

.lost {
  background-color: #fb7777;
}

.draw {
  background-color: #cfcfcf;
}

.main-container,
.shape-button {
  display: flex;
  flex-direction: column;
}

.main-container {
  align-items: center;
} 

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

h2 {
  margin: 20px 0;
  font-size: 35px;
  color: #3c5963;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.shape-button button {
  border-radius: 10px;
  background-color: #faebd7;
  color: #033535;
  padding: 10px;
  margin-top: 11px;
}
